
body {
	background-color: #FFFFFF;
}

h2, h3, h4, p, small, strong, .accounts, .networks, .nonetworks, .main, .disclaimer {
	text-align: center;
}



@media only screen and (max-width: 720px) {
	img { max-width: 100%; }
}

img {
	width: auto;
	max-width: 300px;
	min-width: 200px;
	margin: 0 auto;
	display: block;
}