.title {
	background: #375a7f;
	margin-top: 0;
}
	
div.title {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.panel {
	max-width: 600px;
	margin: 0 auto;
}

body {
}

h2, h3, h4, p, small, strong, .accounts, .networks, .nonetworks, .main, .disclaimer {
	text-align: center;
}



@media only screen and (max-width: 720px) {
	img { max-width: 100%; }
}

img {
	width: auto;
	max-width: 300px;
	min-width: 200px;
	margin: 0 auto;
	display: block;
}